<div class="body">
    <div class="container">

        <div id="emails">
            <span class="label email">E-mail Addresses:</span>
            <p>
                <a href="mailto:ehabelnahas@outlook.com">ehabelnahas&#64;outlook.com</a>
                <a href="mailto:ehabelnahas@hotmail.com">ehabelnahas&#64;hotmail.com</a>
                <a href="mailto:ehabelnahas@gmail.com">ehabelnahas&#64;gmail.com</a>
            </p>
        </div>

        <div id="linkedin">
            <p>
                <span class="label">LinkedIn:</span>
                <a href="https://www.linkedin.com/in/maher-el-nahas/">https://www.linkedin.com/in/maher-el-nahas/</a>
            </p>
        </div>

        <div id="github">
            <p>
                <span class="label">GitHub:</span>
                <a href="https://github.com/maher-saleh">https://github.com/maher-saleh</a>
            </p>
        </div>

        <div id="phone">
            <p>
                <span class="label">Phone Number:</span>
                <a href="tel:+201006931346">+201006931346</a>
            </p>
        </div>

        <div id="residence">
            <p>
                <span class="label">Residence Country:</span>
                <a href="https://www.google.com/maps/place/Egypt">Egypt</a>
            </p>
        </div>
    </div>
</div>