:host {
  position: relative;
}

.hideCard {
    opacity: .3;
}

div.body {
    width: calc(100% - 240px);
    height: max-content;
    left: 200px;
    position: relative;
    display: flex;
    padding: 20px;
    // transition: all .3s ease-in-out;
    margin-bottom: 20px;
}

div.container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    transition: all .3s ease-in-out;

    div.card {
        width: 280px;
        height: auto;
        min-height: 140px;
        padding: 20px;
        background-color: #f1f1f1;
        border: 1px solid #ddd;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0px 0px 3px #f0f0f0;
        transition: all .8s cubic-bezier(0.215, 0.61, 0.355, 1);
        justify-content: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        cursor: pointer;
        align-items: center;
        justify-content: space-between;

        &:not(.active):hover {
            opacity: 1;
            background-color: #fff;
            box-shadow: 0px 3px 10px #a8a8a8;
            // transform: rotateY(10deg) rotateX(10deg) translateX(5px) translateY(5px);
        }

        &.active {
            width: calc(100vw - 280px);
            // animation: showCardDetails .5s 1 both;
        }

        p {
            padding: 0;
            margin: 0;
            color: #4f4f4f;
            font-size: calc(1em + 0.5vw);
        }
        
        p.topic_item {
            font-weight: bold;
        }

        p.snippet_container {
            text-align: justify ;
        }

        img.logo {
            width: auto;
            min-width: 60px;
            max-height: calc(50px + 3vw);
            max-width: 170px;
            height: unset;
            object-fit: contain;
            object-position: center;
            margin: auto;
        }

        iframe {
            box-sizing: border-box;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100vw * 0.5);
            max-height: unset !important;
            zoom: 100%;
            border: 1px solid #dddddd;
            border-radius: 8px;
        }
        
        img.image {
            box-sizing: border-box;
            position: relative;
            top: 0;
            left: 0;
            width: max-content;
            max-width: 100%;
            height: calc(100vw * 0.5);
            max-height: max-content !important;
            zoom: 75%;
            border: 1px solid #dddddd;
            border-radius: 8px;
            margin-top: 20px;
            object-fit: contain;
        }

        label {
            align-self: flex-start;
            font-weight: bold;
            padding: 2px 10px;
            border-radius: 4px;
            font-size: 12px;
        }
        
        label:first-of-type {
            background-color: #e5b37d;
        }
        label:last-of-type {
            background-color: #7de58b;
        }
    }
}

div.container {
    div.card:has(.iframeII) {
        iframe:first-of-type {
            height: 81px; // calc(100vw * 0.1);
        }
        iframe:last-of-type {
            height: 232px;
        }
    }
}

@keyframes showCardDetails {
    0% {
        opacity: 0;
        max-height: 182px;
    }
    100% {
        opacity: 1;
        max-height: auto;
    }
}

@media (max-width: 920px) {
    div.body{
        padding: 20px;
    }
    
    div.container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 650px) {
    div.body {
        left: 50px;
        width: calc(100% - 70px);
    }
    
    div.card {
        box-sizing: border-box;
        width: calc(100% - 50px) !important;
    }
}

@media (max-width: 480px) {
    div.body {
        padding: 10px;
    }

    div.card {
        box-sizing: border-box;
        width: 100% !important;
    }

    div.card iframe {
        zoom: .75 !important;
    }
}