<div class="body">
    <div class="container">
        @for (component of selected_topic_components; track $index) {
            <div class="card" [class]="{'hideCard':is_active && component.item != selected_card}" (click)="on_click($event, component)" (mousemove)="on_mousemove($event)" (mouseleave)="resetPosition($event)">
                <img class="logo" src="{{ component.image }}" alt="{{ component.item }}">
                <p class="topic_item">{{ component.item }}</p>
                @if ( component.item === selected_card && is_active){
                    @if ( component.snippet ){
                        <p class="snippet_container" [innerHTML]="component.snippet"></p>
                    }
                    @if ( component.url ){
                        <iframe title="topic.item" [attr.src]="safeUrl" frameborder="0"></iframe>
                    }
                    @if ( component.images.length ){
                        <img class="image" title="topic.item" [attr.src]="component.images[0]" />
                    }
                }
            </div>
        }
    </div>
</div>
