<app-side-bar [topics]="topics" (selectedTopicChange)="selected_topic_change($event)" />

<div>
  @if(topics_visible){
    <app-topics [topics]="topics" [selected_topic]="selected_topic" [@fadeTopics]="selected_topic != 'Home' && selected_topic != 'About Me'"/>
  }@else {
    @if(selected_topic == 'Home'){
      <app-home [@fadeTopics]="selected_topic == 'Home'"/>
    }@else if (selected_topic == 'About Me') {
      <app-about [@fadeTopics]="selected_topic == 'About Me'"/>
    }
  }
</div>

<app-footer/>