/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}

body {
    display: flex;
    font-family: var(--inter-font);
    font-size: 1rem;
}

/* Fixed Side Panel */
.side-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #333;
    padding-top: 20px;
    z-index: 1;
    transform: translateX(0);
    transition: .3s ease;
}

.side-panel .topic {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    display: inline-flex;
    height: 22px;
}

.side-panel .home {
    text-align: right;
    padding-right: 15px;
}

.side-panel ul {
    display: block;
    list-style: none;
    transition: transform 0.3s ease;
}

.side-panel li {
    margin-bottom: 15px;
    padding-right: 15px;
    cursor: pointer;    
    display: flex;
    justify-content: right;
}

.side-panel li:first-child {
    margin-bottom: 80px;
}

.side-panel a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 3px;
    position: relative;
    transition: all 0.3s;
}

.side-panel a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: cyan;
    transition: width 0.3s ease-in-out;
}

.side-panel li:hover svg path,
::ng-deep .side-panel li:hover svg path,
.side-panel li.active svg path,
::ng-deep .side-panel li.active svg path {
    fill: cyan;
}

.side-panel li:hover a, .side-panel li.active a {
    color: cyan;
}

.side-panel li.active a {
    text-shadow: 3px 5px 8px cyan, -3px -5px 8px cyan;
}

.side-panel li:hover a::after, .side-panel li.active a::after {
    width: 100%;
}

.side-panel li.active a::after {
    box-shadow: 3px 5px 8px cyan, -3px -5px 8px cyan;
}

.side-panel svg {
    position: relative;
    display: inline-block;
    right: 10px;
    
    path {
        fill: white;
    }
}

.side-panel svg:not(:first-child) {
    top: 4px;
}

/* Main Content */
.content {
    margin-left: 220px; /* Space to the right of the side panel */
    padding: 20px;
}

/* Hide menu by default on smaller screens */
@media (max-width: 650px) {

    
    .side-panel{
        position: absolute;
        transform: translateX(calc(-100% - -50px)) !important;
    }
    
    .side-panel {
        transform: translateX(0);
    }

    .side-panel li, .side-panel .home {
        padding-right: 4px;
    }

    .side-panel a {
        display: none;
    }
}