/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}

body {
    display: flex;
    font-family: var(--inter-font);
    font-size: 1rem;
}

.side-panel .icon-container {
    position: relative;
    display: inline-block;
    width: 20px; 
    height: 20px;
    background-color: #cccccc;
    margin-right: 7px;
}

.side-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #333;
    padding-top: 20px;
    z-index: 1;
    transition: .3s ease;
}

.side-panel .topic {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    display: inline-flex;
    height: 22px;
}

.side-panel .home {
    text-align: right;
    padding-right: 15px;
}

.side-panel ul {
    display: block;
    list-style: none;
    transition: transform 0.3s ease;
}

.side-panel li {
    margin-bottom: 15px;
    padding-right: 15px;
    cursor: pointer;    
    display: flex;
    justify-content: right;
    transition: .2s ease-in-out;
    height: 40px;
    margin: 0;
    align-items: center;
}

.side-panel li:hover {
    background-color: #454343;
}

.side-panel li:first-child {
    margin-bottom: 80px;
}

.side-panel a {
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: all 0.2s;
    height: 20px;
    display: inline-flex;
    align-items: center;
    line-height: 1;
}

.side-panel li.active {
    background-color: #454343;
}

.side-panel li:hover .icon-container, .side-panel li.active .icon-container {
    background-color: cyan;
    box-shadow: 1px 1px 4px cyan;
    filter: drop-shadow(2px 4px 6px rgba(5, 201, 201, 0.5));
}

.side-panel li:hover a, .side-panel li.active a {    
    color: cyan;
}

.side-panel li.active a {
    text-shadow: 3px 5px 8px cyan, -3px -5px 8px cyan;
}

/* Main Content */
.content {
    margin-left: 220px; /* Space to the right of the side panel */
    padding: 20px;
}

/* Hide menu by default on smaller screens */
@media (max-width: 650px) {
   
    .side-panel{
        transform: translateX(calc(-100% - -50px)) !important;
    }
    
    .side-panel {
        transform: translateX(0);
    }

    .side-panel li, .side-panel .home {
        padding-right: 8px;
    }

    .side-panel a {
        display: none;
    }
}